node_modules/
assets/app/directives/001-home/assets/
assets/app/directives/002-presentation/assets/
assets/app/directives/003-experience/assets/
assets/app/directives/005-hobbies/assets/
assets/file/
assets/img/
.htaccess
save-7_10_2017/
