/* https://ihatetomatoes.net/create-custom-preloading-screen/ */
#loader-wrapper {
	z-index: 1000;
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 25%;
	background-color: rgba(0,0,0,0.8);

	//default button
	.btn-loader {
		color: #fff;
		background-color: transparent;
		cursor: pointer;
		display: block;
		font-size:50px;
		font-weight: 400;
		line-height: 45px;
		margin: 0 auto 2em;
		/*max-width: 200px; */
		position: relative;
		text-decoration: none;
		text-transform: uppercase;
		vertical-align: middle;
		width: 100%;
		border: none;

		@media(min-width: 400px) {
			display: inline-block;
			margin-right: 2.5em;

			&:nth-of-type(even) {
			  margin-right: 0;
			}
		}

		@media(min-width: 600px) {
			&:nth-of-type(even) {
			  margin-right: 2.5em;
			}

			&:nth-of-type(5) {
			  margin-right: 0;
			}
		}
		&:hover { text-decoration: none; }
	}

	.btn-loader-effect {
		letter-spacing: 0;
		transition: all 280ms ease-in-out;
	}
	.btn-loader-effect:hover,
	.btn-loader-effect:active {
		letter-spacing: 5px;
	}
	.btn-loader-effect:after,
	.btn-loader-effect:before {
		backface-visibility: hidden;
		border: 1px solid rgba(255,255,255, 0);
		bottom: 0px;
		content: " ";
		display: block;
		margin: 0 auto;
		position: relative;
		transition: all 280ms ease-in-out;
		width: 0;
	}
	.btn-loader-effect:hover:after,
	.btn-loader-effect:hover:before {
		backface-visibility: hidden;
		border-color: #fff;
		transition: width 350ms ease-in-out;
		width: 70%;
	}
	.btn-loader-effect:hover:before {
		bottom: auto;
		top: 0;
		width: 70%;
	}
}